@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #fff;
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanBold.ttf");
  font-family: "GothicBold";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanExtraBold.ttf");
  font-family: "GothicExtraBold";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanRegular.ttf");
  font-family: "GothicRegular";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanLight.ttf");
  font-family: "GothicLight";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanSemiBold.ttf");
  font-family: "GothicSemiBold";
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  max-width: 100% !important;
}

.driver-popover.driverjs-theme {
  background-color: #1e293b;
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #ffffff;
}

.driver-popover.driverjs-theme button {
  flex: 1;
  text-align: center;
  text-shadow: none;
  font-size: 14px;
  border-radius: 6px;
}

.driver-popover.driverjs-theme button:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000; /* Border berubah saat hover */
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #9b9b9b;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: #ffffff;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #1e293b;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #1e293b;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #1e293b;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #1e293b;
}
