@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #fff;
}

@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanBold.ttf");
  font-family: "GothicBold";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanExtraBold.ttf");
  font-family: "GothicExtraBold";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanRegular.ttf");
  font-family: "GothicRegular";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanLight.ttf");
  font-family: "GothicLight";
}
@font-face {
  src: url("../assets/fonts/CenturyGothicPaneuropeanSemiBold.ttf");
  font-family: "GothicSemiBold";
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  max-width: 100% !important;
}
